<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/header'); %>

    <main>


	<div class="container">

    <div class="jumbotron">
        <h1 class="display-5">Computer e-Shop</h1>
        <p class="lead">Your one stop Computer e-Shop: Shop computers online</p>
        <hr class="my-4">
        <p>Didn't find your computer? Add it and we'll stock up!</p>
        <p class="lead">
            <a class="btn btn-primary btn-md" href="/create" role="button">Add a Computer</a>
        </p>
    </div>
</div>

    </main>

    <%- include('partials/footer'); %>
  </body>
</html>
